.button {
    min-height: 60px;
    background-color: rgba(110, 228, 251, 1.00);
    padding: 10px 20px;
    color: rgba(41, 43, 52, 1.00);
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.button:disabled {
    background-color: rgba(67, 117, 131, 1.00);
}

.button:enabled:active {
    background-color: rgba(41, 43, 52, 1.00);
    color: rgba(67, 117, 131, 1.00);
}
